{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form, { attr: { 'data-turbo': 'false' } }) }}
    <style>
        .flash-error { color: red; }
        .flash-success { color: green; }
    </style>
    <h1>Changer le mot de passe</h1>

    {% for label, messages in app.flashes() %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.oldPassword) }}
    {{ form_row(form.newPassword) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
